<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I-Blog</title>
    <link rel="stylesheet" href="/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Baskervville+SC&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="navigation">
        <div class="left-nav">
            <div class="logo">
                <div>
                    <h1 style="color: #Ff8c00;">i</h1>
                </div>
                <div>
                    <h2>Blog</h2>
                </div>
            </div>
            <div class="links">
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/about.html">About</a></li>
                </ul>
            </div>
        </div>
        <div class="right-nav">
            <form action="/search.html" name="query">

                <div>
                    <input type="text" name="article-search" id="search" placeholder="Blog Search">
                </div>
                
                <div>
                    <button class="btn">Search</button>
                </div>
            </form>
        </div>
    </nav>
    <hr>
    <div class="banner-content margin-top">
        <div class="left-content">
            <h2 style="color:#Ff8c00"><%= fullname %></h2>
            <p><%= about %></p>
        </div>
        <div class="right-side">
           <div>
            <img src= "<%= image %>" alt="author-img">
           </div>
        </div>
    </div>
    <div class="add-blog">
        <div class="header margin-top">
            <h1>Add New Blog </h1>
        </div>
        <div class="blog-container">
            <form action="/blog-content" method="post">
                <div>    
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title">
                </div>
                <div>
                    <label for="sub-title">Sub-Title</label>
                    <input type="text" name="sub-title" id="sub-title">
                </div>
                <div>
                    <label for="article">Article</label>
                    <textarea name="article" id="article" cols="70" rows="10"></textarea>
                </div>
                <div class="btn-container margin-top">
                    <button class="btn-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>    

    <div class="blog-content margin-top">
        <div class="header">
            <h1>Your Blogs </h1>
        </div>
        <div class="blog-list">
                <div class="blog margin-top">
                    <div class="left">

                        <div class="author-name">
                            <img class="author-img" src="https://th.bing.com/th/id/OIP.ZShdnbFsw65IGPWr2fPQzwHaJQ?w=208&h=260&c=7&r=0&o=5&pid=1.7" alt="author">
                            <h3>James Sons</h3>
                        </div>
                        <div class="title">
                            <h2>I’m proud of job hopping between Amazon, Microsoft, and Google</h2>
                        </div>
                        <div class="info">
                            <div class="time">
                                <p>time</p>
                            </div>
                            <div class="visits">
                                <p>TotalVisit</p>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="img">
                            <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/0*f9CxyciQTUknJWOq" class="blog-left-img" alt="">
                        </div>
                    </div>
                </div>
                <div class="blog margin-top">
                    <div class="left">

                        <div class="author-name">
                            <img class="author-img" src="https://th.bing.com/th/id/OIP.ZShdnbFsw65IGPWr2fPQzwHaJQ?w=208&h=260&c=7&r=0&o=5&pid=1.7" alt="author">
                            <h3>James Sons</h3>
                        </div>
                        <div class="title">
                            <h2>I’m proud of job hopping between Amazon, Microsoft, and Google</h2>
                        </div>
                        <div class="info">
                            <div class="time">
                                <p>time</p>
                            </div>
                            <div class="visits">
                                <p>TotalVisit</p>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="img">
                            <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/0*f9CxyciQTUknJWOq" class="blog-left-img" alt="">
                        </div>
                    </div>
                </div>
                <div class="blog margin-top">
                    <div class="left">

                        <div class="author-name">
                            <img class="author-img" src="https://th.bing.com/th/id/OIP.ZShdnbFsw65IGPWr2fPQzwHaJQ?w=208&h=260&c=7&r=0&o=5&pid=1.7" alt="author">
                            <h3>James Sons</h3>
                        </div>
                        <div class="title">
                            <h2>I’m proud of job hopping between Amazon, Microsoft, and Google</h2>
                        </div>
                        <div class="info">
                            <div class="time">
                                <p>time</p>
                            </div>
                            <div class="visits">
                                <p>TotalVisit</p>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="img">
                            <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/0*f9CxyciQTUknJWOq" class="blog-left-img" alt="">
                        </div>
                    </div>
                </div>
                <div class="blog margin-top">
                    <div class="left">

                        <div class="author-name">
                            <img class="author-img" src="https://th.bing.com/th/id/OIP.ZShdnbFsw65IGPWr2fPQzwHaJQ?w=208&h=260&c=7&r=0&o=5&pid=1.7" alt="author">
                            <h3>James Sons</h3>
                        </div>
                        <div class="title">
                            <h2>I’m proud of job hopping between Amazon, Microsoft, and Google</h2>
                        </div>
                        <div class="info">
                            <div class="time">
                                <p>time</p>
                            </div>
                            <div class="visits">
                                <p>TotalVisit</p>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="img">
                            <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/0*f9CxyciQTUknJWOq" class="blog-left-img" alt="">
                        </div>
                    </div>
                </div>
                
        </div>
    </div>

</body>

</html>